*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F9FC;
}
/* HEADER */
header{
    background-color: #21398B;
}
/* H1 y A dentro del NAV */
.bar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* o el ancho que necesites */
    padding: 15px 0px;
}
/* H1 INDIVIDUAL */
.bar_menu > h1{
    margin-left: 35px;
    font-size: larger;
    color: #F9FFFF;
}
/* CONTENEDOR DE A */
.bar_menu > span{
    margin-right: 15px;
}
/* A INDIVIDUALES */
span > a{
    margin: 35px;
    text-decoration: none;
    color: #F2FFFF;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px;
}
/* MAIN */
/* main{} */
/* HERO */
.hero{
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)),  url(../img/codigo.jpg);
    background-size: 100%;
    background-position: center;
    padding: 81px;
}
/* H2 del HERO */
.hero h2{
    color: #F9FFFF;
    padding: 15px 0px;
    margin: 0px 475px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* CASILLAS DE INFORMACION... */
.informacion{
    background-color: #FFFEFF;
    padding: 15px 0px 15px 20px;
    margin: 30px 300px 30px 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    line-height: 30px;
}
.informacion > h2{
    font-size: larger;
    color: #21398B;
}
.informacion > p{
    font-size: small;
    color: #514A54;
}
/* FOOTER */
footer{
    background-color: #21398B;
    text-align: center;
    padding: 15px 0px;
    margin-top: 50px;
}
footer > p{
    font-size: small;
    color: #F2FFFF;
}
